<ol>
  {{#each results}}
    <li class="search-result">
      <a href="?{{title}}">
        <div class="title">{{title}}</div>
        <div class="description">{{description}}</div>
      </a>
    </li>
  {{/each}}
</ol>