<div class="heading-text">
  <h1>{{title}}</h1>
  <div class="updated-meta">- updated {{updated}}</div>
</div>
{{#if server}}
  <script>
    document.title = {{{safeTitle}}} + ' - Offline Wikipedia';
    history.replaceState({}, document.title, '/wiki/' + {{{safeUrlId}}} + location.search);
  </script>
{{/if}}

<label class="cache-toggle"{{#unless cacheCapable}} style="visibility: hidden"{{/unless}}>
  <input type="checkbox" name="cache"{{#if cached}} checked{{/if}}>
  <span class="material-switch">
    <span class="track"></span>
    <span class="handle"></span>
  </span>
  <span class="read-offline-txt">Read offline</span>
</label>