<div class="cached-articles-container"></div>
{{#if flags.no-css-async-hack}}
  <link rel="stylesheet" href="/css/wiki.css">
  <div class="article-container">
{{else}}
  <div class="article-container" style="display:none">
    <script>
      (function() {
        var req = new XMLHttpRequest();
        req.onload = function() {
          var style = document.createElement('style');
          style.textContent = req.responseText;
          document.head.appendChild(style);
          document.querySelector('.article-container').style.display = '';
        }
        req.open('GET', '/css/wiki.css');
        req.send();
      }());
    </script>
{{/if}}
  <div class="article-header subheading">