.card .cached-articles {
  margin: 6px 16px;

  @media (min-width: 720px) {
    margin: 15px 32px;
  }

  & .delete-btn {
    margin-left: auto;
    width: 24px;
    min-width: 24px;
    height: 24px;
    position: relative;

    &:focus {
      outline: none;
    }

    & svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  & .item-list-item {
    @include display-flex;
    @include align-items(center);

    & a {
      @include flex(1);
    }
  }
}