.card {
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  max-width: 720px;

  @media (min-width: 720px) {
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }

  & .card-content {
    margin: 16px;
    padding: 0;

    @media (min-width: 720px) {
      margin: 24px 32px;
    }

    & > p {
      margin: 1em 0;
    }
  }
}