html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: #ececec;
}

html {
  overflow-y: scroll;
}

pre,
code,
kbd,
samp,
tt{
  font-family:monospace,monospace;
  font-size:1em;
}

button, textarea {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button, label {
  cursor: pointer;
}