{{#if results}}
  <ol>
    {{#each results}}
      <li class="item-list-item search-result">
        <a href="/wiki/{{id}}">
          <div class="title">{{title}}</div>
          <div class="description">{{description}}</div>
        </a>
      </li>
    {{/each}}
  </ol>
{{/if}}
{{#if err}}
  <div class="search-error">{{err}}</div>
{{/if}}